.main {
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    height: 100%;
}

.header {
    margin-top: 10px;
    padding: 30px 20px 20px 20px;
    background-color: #45accc; 
}

.footer {
    padding: 15px 20px 0px 20px;
    background-color: #45accc;
    bottom: 0;
    margin-bottom: 10px;
    clear: both;
    overflow: auto;
}

.column {
    padding-top: 40px;
}

/* Right column */
.right {
    width: 300px;
    padding-right: 20px;
    margin-top: -70px;
    margin-bottom: 20px;
    background-color: white;
    border: solid #484949;
    float: right;
    overflow: auto;
    right: 30px;
    position: relative;
}

/* Left column */
.left {
    padding-right: 50px;
    width: calc(100% - 300px);
    float: left;
}

.review {
    padding-right: 60px;
}

.form {
    margin-bottom: 30px;
}

.input {
    width: 250px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
}

.search {
    text-transform: capitalize;
    padding-left:20px;
}

.more {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

.last-ten {
    
}

.most-three {

}

.error {
    padding-top: 30px;
    font-size: 20px;
}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {
    .column.left {
        float: left;
        width: 100%;
        margin-bottom: 50px;
    }

    .column.right {
    float: left;
    width: 100%;
    margin-left: 30px;
  }
}

@media screen and (max-width: 400px) {
    .img {
      width: 150px;
    }
}
