.column {
    padding-top: 40px;
    float: left;
}

/* Left and right column */
.column.left {
    padding-left: 40px;
    width: 75%;
}

/* Middle column */
.column.right {
    width: 25%;
}

.review {
    margin-top: 50px;
    padding-right: 60px;
}

.input {
    width: 250px;
}

.name {
    text-transform: capitalize;
    font-weight: bold;
}

.search {
    text-transform: capitalize;
    padding-left:20px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.right {
    display: none;
  }

  .column.left {
      width: 100%;
  }
}